@media screen and (max-width: 400px){

#drawer{
  width:100%;
}

.content{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  order:0;
}

body{
  display:flex;
  flex-wrap:wrap;
}

  .top-news{
    width:100%;
    display: flex;
    flex-wrap: wrap;
  }
  .news top-news a{
    padding: 1.5em;
  }
  .scores {
    width:100%
    order:3;

  }
  .weather{
    width: 100%;
    order:4;
  }
  .recent-news{
    width: 100%;
    order:5;
  }
  .footer{
    order: 5;
  }
}


media screen and (min-width: 550px){

}

media screen and (min-width: 950px){

body {
  width: 900px;
  margin-right: auto;
  margin-left: auto;
}
}
